#companyContainer {
    margin-top: 5em;
    width: 80%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.8);
    font-family: Zilla Slab;
    font-size: 25px
}

#companyInputSearch {
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
}

#companyContainerTable {
    margin-top: 2em;
    overflow-x: auto;
    text-align: center;
}

#companyTable {
    width: 100%;
}

#headCompanyTable{
    cursor: pointer;
}


#iOptions,
#iDisabled,
#iEnabled {
    font-size: 1.5em;
}


#optionsCompany{
    font-size:1em;
    z-index: 100;
}

.blocked-row {
    opacity: 0.5;
  }

@media (max-width: 767px) {
    #companyContainer {
        width: 80%;
        display: block !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;


    }

}